<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Cardápio</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
  <div class="container mt-5">
    <a href="/login" class="btn btn-danger mt-3">Logout</a>
    <h1 class="text-center">Cardápio</h1>
    <ul class="list-group">
      <% menu.forEach(item => { %>
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-8">
              <h3><%= item.nome %></h3>
              <p><%= item.descricao %></p>
              <p>Preço: R$ <%= item.preco %></p>
              <p>Tempo de Preparo: <%= item.tempo %> minutos</p>
              <p>Categoria: <%= item.categoria %></p>
            </div>
            <div class="col-md-4">
              <img src="uploads/<%= item.imagem %>" style="max-width: 100%;" class="float-end">
            </div>
          </div>
        </li>
      <% }); %>
    </ul>
    <a href="/menu/additem" class="btn btn-primary mt-3">Adicionar Item</a>
  </div>
</body>
</html>
